<!-- @Author : 高天齐 -->
<!-- @Time   : 2024/9/6 22:30 -->
<!-- @File   : app/templates/user.html -->
<!-- @Note   : 用户申请界面-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <!-- 使用 Flask 的 url_for 函数加载静态资源 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin_user_style.css') }}">
</head>

<body>

  <!-- 左侧工具栏 -->
  <div class="sidebar">
    <a href="#" onclick="showTool('myConfiguration')">我的信息</a>
    <a href="#" onclick="showTool('preRegisteration')">预约申请</a>
    <a href="#" onclick="showTool('myReservation')">我的预约</a>
    <a href="#" onclick="showTool('reservationQueue')">预约队列</a>
    <a href="#" onclick="showTool('Others')">其他</a>
  </div>

  <!-- 右侧内容区 -->
  <div class="content">
    <h2 id="toolTitle">{{ name }}，上午好。</h2>
    <p id="toolDescription">点击左侧工具栏中的工具来查看详情。</p>
  </div>

  <!-- 使用 Jinja2 模板传递数据给 JavaScript -->
  <script src="{{ url_for('static', filename='scripts/user_script.js') }}"></script>

</body>

</html>
